@tailwind base;
@tailwind components;
@tailwind utilities;

* input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;

    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

* input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: ##18181B;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 6px;
}